<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
  The time is now: <%= Time.now %>
</p>
<div class="row">
	<div class="col-md-4 col-sm-4">
		Ajitt Kumar Jain
	</div>
	<div class="col-md-4 col-sm-4">
		Ankit Kumar Jain
	</div>
	<div class="col-md-4 col-sm-4">
		<a href="#" data-toggle="tooltip" data-placement="bottom" title="How long you need to take this"><i class="fa fa-info" aria-hidden="true"></i></a>
		Ankit Kumar Jain
	</div>
</div>